body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 100px;
    padding: 50px;
    

}
.container{ height:70%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    height: 50vh;
    flex-wrap: wrap;
}
.main{
    display: flex;
    justify-content:baseline;
}
#title{
    font-weight: bold;
}

img{
    height: 50px;
}
.left-section{
    width: 80vh;
    height: 45vh;

}
.right-section{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: end;
    height:45vh;
}
input[type=text]{
    width:100%;
    height: 20%;   
}
.right-section span{display: flex;
    flex-direction:row;
    width:auto;
    
    margin-bottom: 20px;
}
.right-section p{ 
    display: flex;
    flex-direction:row; 
    
}
.right-section a:link{ display: flex;
    text-decoration: none;
    
}
.last{display: flex;
    justify-items:last baseline ;
    color: black;
}
.right{
    display: flex;
    justify-content: space-between;

}
.outside{
    width: 80%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between
}